<div class="w-100 clear">
    <div class="w-100 ba br2 b--transparent shadow-3-white h5 db mv3">
        <div class="flex-ns">
            <div class="w-100 w-60-ns pa3">
                <h2 class="f3 f2-ns mt2 mb0">Headline</h2>
                <p class="f6 f5-ns">Description text whatever it may be</p>
                <div class="mv1 f5 i tl near-white v-btm">1 March 2019</div>
            </div>
        </div>
    </div>
    <div class="w-100 flex-ns">
        <div class="w-48 ba br2 b--transparent shadow-3-white h5 mv3">
            <div class="flex-ns">
                <div class="w-100 w-70-ns pa3">
                    <h2 class="f3 f2-ns mt2 mb0">Headline</h2>
                    <p class="mv1 f5 i">1 March 2019</p>
                    <p class="f6 f5-ns">Description text whatever it may be</p>
                </div>
            </div>
        </div>
        <div class="w-04">
        </div>
        <div class="w-48 ba br2 b--transparent shadow-3-white h5 mv3">
            <div class="flex-ns">
                <div class="w-100 w-70-ns pa3">
                    <h2 class="f3 f2-ns mt2">Headline</h2>
                    <p class="f6 f5-ns">Description text whatever it may be</p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 flex-ns">
        <div class="w-33 ba br2 b--transparent shadow-3-white h5 mv3 mr1">
            <div class="flex-ns">
                <div class="w-100 pa3">
                    <h2 class="f3 f2-ns mt2 mb0">Headline</h2>
                    <p class="mv1 f5 i">1 March 2019</p>
                    <p class="f6 f5-ns">Description text whatever it may be</p>
                </div>
            </div>
        </div>
        <div class="w-33 ba br2 b--transparent shadow-3-white h5 mv3 mh3">
            <div class="flex-ns">
                <div class="w-100 pa3">
                    <h2 class="f3 f2-ns mt2 mb0">Headline</h2>
                    <p class="mv1 f5 i">1 March 2019</p>
                    <p class="f6 f5-ns">Description text whatever it may be</p>
                </div>
            </div>
        </div>
        <div class="w-33 ba br2 b--transparent shadow-3-white h5 mv3 ml1">
            <div class="flex-ns">
                <div class="w-100 pa3">
                    <h2 class="f3 f2-ns mt2 mb0">Headline</h2>
                    <p class="mv1 f5 i">1 March 2019</p>
                    <p class="f6 f5-ns">Description text whatever it may be</p>
                </div>
            </div>
        </div>
    </div>
</div>


    
