<div id="navbar" class="w-100 bg-navy">
    <nav class="tc pv2 pv3-ns f5 f4-ns">
        <a id="top-nav-index" class="pa2 white no-underline dib" href="/" title="Home">Home</a>
        <a id="top-nav-news" class="pa2 white no-underline dib" href="https://blog.serverlessdays.io" title="News">News</a>
        <a id="top-nav-map" class="pa2 white no-underline dib" href="/map" title="Map">Map</a>
        <a id="top-nav-events" class="pa2 white no-underline dib" href="/events" title="Upcoming ServerlessDays">Upcoming Events</a>
        <a id="top-nav-previous" class="pa2 white no-underline dib" href="/previous" title="Past Events">Past Events</a>
        <a id="top-nav-organise" class="pa2 white no-underline dib" href="/organise" title="Organise a ServerlessDay">Organise</a>
        <a id="top-nav-coc" class="pa2 white no-underline dib" href="/coc" title="Code of Conduct">Code of Conduct</a>
    </nav>
</div>
